@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-8px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* fade up animation */
.fade-up section {
  animation: up 0.5s ease-in-out forwards;
  opacity: 0;
}

/* fade down animation */
.fade-down section {
  animation: down 0.5s ease-in-out forwards;
  opacity: 0;
}

/* fade right animation */
.fade-right header {
  animation: right 0.5s ease-in-out forwards;
  opacity: 0;
}

.fade-up section:nth-of-type(1) {animation-delay: 0s;}
.fade-up section:nth-of-type(2) {animation-delay: 0.1s;}
.fade-up section:nth-of-type(3) {animation-delay: 0.2s;}
.fade-up section:nth-of-type(4) {animation-delay: 0.3s;}
.fade-up section:nth-of-type(5) {animation-delay: 0.4s;}
.fade-up section:nth-of-type(6) {animation-delay: 0.5s;}
.fade-up section:nth-of-type(7) {animation-delay: 0.6s;}
.fade-up section:nth-of-type(8) {animation-delay: 0.7s;}
.fade-up section:nth-of-type(9) {animation-delay: 0.8s;}